# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.DS_Store

# history
.history
csv/_tokyo_ichiran_all_tennpo_df.csv
csv/2022-12-09_touhou.csv
csv/all_erea__halldata.csv
csv/ana_prefecture_hallname_city_name_df.csv
csv/dammy_serched_df_1021.csv
csv/dammy_serched_df_1023.csv
csv/dammy_serched_df_1029.csv
csv/dammy_serched_df_2023-11-05.csv
csv/extract_halldata.csv
csv/halldata_202311241956.csv
csv/halldata_df_20231129.csv
csv/halldata_input.csv
csv/heroku_schedule_latest.csv
csv/insert_groupby_tennpo_df.csv
csv/kanto_test_halldata.csv
csv/kanto_top_location_df.csv
csv/kisyu_data_1_25.csv
csv/kouyaku_df_type_2.csv
csv/kyusyu_halldata.csv
csv/latest_dammy_serch_df.csv
csv/maptable.csv
csv/old_event_day.csv
csv/pledge_202308150153.csv
csv/tenpo_url_flask_web_site.csv
csv/test_insert_tennpo_df.csv
csv/test_location_df.csv
csv/test_pledge.csv
csv/tokyo_past_diffconis_df.csv
csv/tokyo_psgr_insert_df.csv
csv/アナスロとホールナビの店舗名比較_マスター.csv
csv/アナスロとホールナビの店舗名比較.csv
csv/アナスロの直近のデータある店舗一覧.csv
csv/ホールナビ_スクレイピングDMM店舗名_都道府県付.csv
csv/市区郡コード.csv
csv/店舗リスト_oyama.csv
csv/店舗名デコードテーブル.csv
csv/店舗名デコードテーブル都道府県付き.csv
csv/店舗名変換テーブル.csv
csv/名デコードテーブル都道府県付き.csv
